{% extends "index_base.html" %}
{% block own_css %}
    <style>
    </style>
{% endblock %}
{% block content %}
    <br>
    <div class="row">


        <div class="col-md-12">
            <h4>已添加网站</h4>

            <div class="table-responsive">


                <table id="mytable" class="table table-bordred table-striped">

                    <thead>

                    <th><input type="checkbox" id="checkall"/></th>
                    <th>网站名称</th>
                    <th>域名</th>
                    <th>编辑</th>
                    <th>预览</th>
                    <th>禁用</th>
                    <th>删除</th>
                    </thead>
                    <tbody>
                    {% for site in sites %}
                    <tr>
                        <td><input type="checkbox" class="checkthis"/></td>
                        <td>{{ site.name }}</td>
                        <td>{{ site.domain_name }}</td>
                        <td>
                            <p data-placement="top" data-toggle="tooltip" title="编辑">
                                <a href="/index?step=1&url=http://www.{{ site.domain_name }}" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></a>
                            </p>
                        </td>
                        <td>
                            <p data-placement="top" data-toggle="tooltip" title="预览">
                                <a href="/index?step=4&url=http://www.{{ site.domain_name }}" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-eye-open"><a></a></span></a>
                            </p>
                        </td>
                        <td>
                        {% if site.is_active %}
                            <p data-placement="top" data-toggle="tooltip" title="禁用">
                                <button siteId="{{ site.id }}" class="enableSite btn btn-success btn-xs" data-title="禁用">已启用</button>
                            </p>
                        {% else %}
                            <p data-placement="top" data-toggle="tooltip" title="启用">
                                <button siteId="{{ site.id }}" class="enableSite btn btn-warning btn-xs" data-title="启用">已禁用</button>
                            </p>
                        {% endif %}
                        </td>
                        <td>
                            <p data-placement="top" data-toggle="tooltip" title="删除">
                                <button class="btn btn-danger btn-xs" data-title="删除" data-toggle="modal"
                                        data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button>
                            </p>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>

                </table>

                <div class="clearfix"></div>
                <div class="pull-left form-inline">
                    <input class="form-control" type="text" id="newSiteurl" name="newSiteurl">
                    <button id="addNewsite" class="btn btn-primary">添加新网站</button>
                </div>
                <ul class="pagination pull-right">
                    <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
                </ul>

            </div>

        </div>
    </div>
    </div>


    <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
                            class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h4 class="modal-title custom_align" id="Heading">Edit Your Detail</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input class="form-control " type="text" placeholder="Mohsin">
                    </div>
                    <div class="form-group">

                        <input class="form-control " type="text" placeholder="Irshad">
                    </div>
                    <div class="form-group">
                        <textarea rows="2" class="form-control"
                                  placeholder="CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan"></textarea>


                    </div>
                </div>
                <div class="modal-footer ">
                    <button type="button" class="btn btn-warning btn-lg" style="width: 100%;"><span
                            class="glyphicon glyphicon-ok-sign"></span> Update
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>



    <div class="modal fade" id="enable" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
                        class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">注意</h4>
            </div>
            <div class="modal-body">

                <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span>
                    你确定要{% if site.is_active %}禁用{% else %}启用{% endif %}已选网站？
                </div>

            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span> Yes
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><span
                        class="glyphicon glyphicon-remove"></span> No
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    </div>

    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
                        class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">注意</h4>
            </div>
            <div class="modal-body">

                <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span>
                    你确定要删除已选网站？
                </div>

            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span> Yes
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><span
                        class="glyphicon glyphicon-remove"></span> No
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    </div>
{% endblock %}
